files/read_from_s3_RPG.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>ba025837-016d-1000-f35f-dd968238c44b</groupId>
    <name>read_from_s3_RPG</name>
    <snippet>
        <connections>
            <id>1d5bef20-76c2-3054-0000-000000000000</id>
            <parentGroupId>80fc3193-c4e0-3609-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5d54f3e8-2396-3ff0-0000-000000000000</groupId>
                <id>8b1fed97-f8ae-3ed9-a7c8-2e0d66b57a63</id>
                <type>REMOTE_INPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>bcf5ac1e-251d-35cc-0000-000000000000</groupId>
                <id>4842f326-3ac7-3c74-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <processGroups>
            <id>bcf5ac1e-251d-35cc-0000-000000000000</id>
            <parentGroupId>80fc3193-c4e0-3609-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>0eb8f3a2-f664-3f61-0000-000000000000</id>
                    <parentGroupId>bcf5ac1e-251d-35cc-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>bcf5ac1e-251d-35cc-0000-000000000000</groupId>
                        <id>064f64c6-a679-345d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>bcf5ac1e-251d-35cc-0000-000000000000</groupId>
                        <id>22549d16-e4c8-3f23-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>858f9c9e-9fa6-3869-0000-000000000000</id>
                    <parentGroupId>bcf5ac1e-251d-35cc-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>bcf5ac1e-251d-35cc-0000-000000000000</groupId>
                        <id>4842f326-3ac7-3c74-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>bcf5ac1e-251d-35cc-0000-000000000000</groupId>
                        <id>064f64c6-a679-345d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <outputPorts>
                    <id>4842f326-3ac7-3c74-0000-000000000000</id>
                    <parentGroupId>bcf5ac1e-251d-35cc-0000-000000000000</parentGroupId>
                    <position>
                        <x>779.1121834964724</x>
                        <y>668.3700618181728</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>send_to_RPG</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>064f64c6-a679-345d-0000-000000000000</id>
                    <parentGroupId>bcf5ac1e-251d-35cc-0000-000000000000</parentGroupId>
                    <position>
                        <x>707.0433872884983</x>
                        <y>323.9860959463316</y>
                    </position>
                    <bundle>
                        <artifact>nifi-aws-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Bucket</key>
<value>
    <name>Bucket</name>
</value>
                            </entry>
                            <entry>
<key>Object Key</key>
<value>
    <name>Object Key</name>
</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>
    <name>Region</name>
</value>
                            </entry>
                            <entry>
<key>Access Key</key>
<value>
    <name>Access Key</name>
</value>
                            </entry>
                            <entry>
<key>Secret Key</key>
<value>
    <name>Secret Key</name>
</value>
                            </entry>
                            <entry>
<key>Credentials File</key>
<value>
    <name>Credentials File</name>
</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
    <name>AWS Credentials Provider service</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Version</key>
<value>
    <name>Version</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
<value>
    <name>Endpoint Override URL</name>
</value>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>
    <name>Signer Override</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
<value>
    <name>Proxy Host Port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
<value>
    <name>proxy-user-name</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
<value>
    <name>proxy-user-password</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Bucket</key>
<value>radon-utr-thumbgen</value>
                            </entry>
                            <entry>
<key>Object Key</key>
<value>${filename}</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>eu-central-1</value>
                            </entry>
                            <entry>
<key>Access Key</key>
                            </entry>
                            <entry>
<key>Secret Key</key>
                            </entry>
                            <entry>
<key>Credentials File</key>
<value>${credentialsFile}</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>30 secs</value>
                            </entry>
                            <entry>
<key>Version</key>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>Default Signature</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>10 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FetchS3Object</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.aws.s3.FetchS3Object</type>
                </processors>
                <processors>
                    <id>22549d16-e4c8-3f23-0000-000000000000</id>
                    <parentGroupId>bcf5ac1e-251d-35cc-0000-000000000000</parentGroupId>
                    <position>
                        <x>702.4961141686042</x>
                        <y>-20.081595017570464</y>
                    </position>
                    <bundle>
                        <artifact>nifi-aws-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Bucket</key>
<value>
    <name>Bucket</name>
</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>
    <name>Region</name>
</value>
                            </entry>
                            <entry>
<key>Access Key</key>
<value>
    <name>Access Key</name>
</value>
                            </entry>
                            <entry>
<key>Secret Key</key>
<value>
    <name>Secret Key</name>
</value>
                            </entry>
                            <entry>
<key>write-s3-object-tags</key>
<value>
    <name>write-s3-object-tags</name>
</value>
                            </entry>
                            <entry>
<key>Credentials File</key>
<value>
    <name>Credentials File</name>
</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
    <name>AWS Credentials Provider service</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
<value>
    <name>Endpoint Override URL</name>
</value>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>
    <name>Signer Override</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
<value>
    <name>Proxy Host Port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
<value>
    <name>proxy-user-name</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
<value>
    <name>proxy-user-password</name>
</value>
                            </entry>
                            <entry>
<key>delimiter</key>
<value>
    <name>delimiter</name>
</value>
                            </entry>
                            <entry>
<key>prefix</key>
<value>
    <name>prefix</name>
</value>
                            </entry>
                            <entry>
<key>use-versions</key>
<value>
    <name>use-versions</name>
</value>
                            </entry>
                            <entry>
<key>list-type</key>
<value>
    <name>list-type</name>
</value>
                            </entry>
                            <entry>
<key>min-age</key>
<value>
    <name>min-age</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Bucket</key>
<value>radon-utr-thumbgen</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>eu-central-1</value>
                            </entry>
                            <entry>
<key>Access Key</key>
                            </entry>
                            <entry>
<key>Secret Key</key>
                            </entry>
                            <entry>
<key>write-s3-object-tags</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Credentials File</key>
<value>${credentialsFile}</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>30 secs</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>Default Signature</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
                            </entry>
                            <entry>
<key>delimiter</key>
                            </entry>
                            <entry>
<key>prefix</key>
                            </entry>
                            <entry>
<key>use-versions</key>
<value>false</value>
                            </entry>
                            <entry>
<key>list-type</key>
<value>1</value>
                            </entry>
                            <entry>
<key>min-age</key>
<value>0 sec</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>30 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>true</executionNodeRestricted>
                    <name>ListS3</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.aws.s3.ListS3</type>
                </processors>
            </contents>
            <name>readFrmS3</name>
            <variables>
                <entry>
                    <key>credentialsFile</key>
                    <value>/tmp/credentialfile1</value>
                </entry>
            </variables>
        </processGroups>
        <remoteProcessGroups>
            <id>5d54f3e8-2396-3ff0-0000-000000000000</id>
            <parentGroupId>80fc3193-c4e0-3609-0000-000000000000</parentGroupId>
            <position>
                <x>1.5157807150478675</x>
                <y>448.65213419087974</y>
            </position>
            <comments></comments>
            <communicationsTimeout>30 sec</communicationsTimeout>
            <contents>
                <inputPorts>
                    <batchSettings/>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <connected>true</connected>
                    <exists>true</exists>
                    <groupId>81686c8d-e6aa-3acc-2260-a1a12d7ac909</groupId>
                    <id>8b1fed97-f8ae-3ed9-a7c8-2e0d66b57a63</id>
                    <name>dest_data_receive</name>
                    <targetId>39f03260-2a48-3d32-15c5-5c16b6f760f4</targetId>
                    <targetRunning>false</targetRunning>
                    <transmitting>false</transmitting>
                    <useCompression>false</useCompression>
                </inputPorts>
            </contents>
            <proxyHost></proxyHost>
            <proxyUser></proxyUser>
            <targetUri>http://172.17.66.173:8080/nifi/</targetUri>
            <targetUris>http://172.17.66.173:8080/nifi/</targetUris>
            <transportProtocol>HTTP</transportProtocol>
            <yieldDuration>10 sec</yieldDuration>
        </remoteProcessGroups>
    </snippet>
    <timestamp>10/11/2019 09:44:45 UTC</timestamp>
</template>
